/* for graph svg */

.svgText {
  font-family: sans-serif
;
  font-size: 12px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resource {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.tooltip {
  position: absolute;
  text-align: center;
  width : 30px;
  padding: 2px;
/*   font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none; */
}

.exessBar {
  fill: #a00;
  stroke-width: 1.5px;
}

/* .link {
  stroke: #000;
  stroke-width: 2px;
}*/

.flow {
  stroke: lightblue;
  stroke-width: 1.5px;
}


.cap {
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*.node {
  fill: #99f;
  stroke: #000;
  stroke-width: 1.5px;
}*/

circle.selected{
    stroke: rgba(174,219,33, 0.7);
    stroke-width: 7px;
}

.exess{
  stroke: #a00;
}

.height{
  stroke: #0a0;
} 


/*  only in shortest paths */
.timewindow {
  fill: lavender;
  fill-opacity: 0.5;
}

#testArc {
  stroke: #ccc;
  stroke-width: 1.5px;
  fill: none;
}

#testArc.hidden {
  display: none;
}


.axis {
  shape-rendering: crispEdges;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

/*.x.axis line {
  stroke: #fff;
}*/

/*.x.axis .minor {
  stroke-opacity: .5;
}*/

/*.x.axis path {
  display: none;
}*/

.axis line, .axis path {
  fill: none;
  stroke: #000;
}
