.link {
  stroke: #000;
  stroke-width: 2px;
}

.flow {
  stroke: lightblue;
  stroke-width: 1.5px;
}

.exessBar {
  fill: #a00;
  stroke-width: 1.5px;
}


.cap {
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node {
  /* fill: #99f; */
  /* stroke: #000; */
  /* stroke-width: 1.5px; */
}

circle.selected{
    stroke: rgba(174,219,33, 0.7);
    stroke-width: 7px;
}

.exess{
  stroke: #a00;
}

.height{
  stroke: #0a0;
}


/*  only in shortest paths */
.timewindow {
  fill: lavender;
  fill-opacity: 0.5;
}

#testArc {
  stroke: #ccc;
  stroke-width: 1.5px;
  fill: none;
}

#testArc.hidden {
  display: none;
}


/* for html page */
.adrianheader {
  font-size: 35px;
  color: #1B66B0;
  font-family: sans-serif;
  font-weight:bold;
  line-height:100px;
  vertical-align: top;
  padding: 20px;
}